<main class="main__content_wrapper">

    <!-- Start breadcrumb section -->
    <section class="breadcrumb__section breadcrumb__bg" style="background: url(https://kovorot.by/wp-content/themes/kovorot/assets/img/banner-desktop-1.jpg);
">
        <div class="container">
            <div class="row row-cols-1">
                <div class="col">
                    <div class="breadcrumb__content">
                        <h1 class="breadcrumb__content--title text-white mb-10">О нас</h1>
                        <ul class="breadcrumb__content--menu d-flex">
                            <li class="breadcrumb__content--menu__items"><a class="text-white" href="/Home/Index">Главная</a></li>
                            <li class="breadcrumb__content--menu__items"><span class="text-white">О нас</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End breadcrumb section -->
    <!-- Start about section -->
    <section class="about__section section--padding mb-95">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about__thumbnail d-flex">
                        <div class="about__thumbnail--items">
                            <img class="about__thumbnail--img border-radius-5 display-block" src="https://yt3.googleusercontent.com/l_e6ToUXa7KT_TKY9f0Glrd9T_7ghYSCFH4l4qQHODisDl4m30hDSjO00BmQn8oEvaqCQpfaHw=s900-c-k-c0x00ffffff-no-rj" alt="about-thumbnail">
                        </div>
                        <div class="about__thumbnail--items position__relative">
                            <img class="about__thumbnail--img border-radius-5 display-block" src="https://yt3.googleusercontent.com/ytc/AIf8zZQf_GXOOtbn2OqiGX1Y-5tvWcv5mmMapslOEC8ZAQ=s900-c-k-c0x00ffffff-no-rj" alt="about-thumbnail">
                            @*<div class="banner__bideo--play about__thumbnail--play">
                                <a class="bideo__play--icon glightbox" href="https://vimeo.com/115041822" data-gallery="video">
                                    <svg id="play" xmlns="http://www.w3.org/2000/svg" width="46.302" height="46.302" viewBox="0 0 46.302 46.302">
                                        <g id="Group_193" data-name="Group 193" transform="translate(0 0)">
                                            <path id="Path_116" data-name="Path 116" d="M39.521,6.781a23.151,23.151,0,0,0-32.74,32.74,23.151,23.151,0,0,0,32.74-32.74ZM23.151,44.457A21.306,21.306,0,1,1,44.457,23.151,21.33,21.33,0,0,1,23.151,44.457Z" fill="currentColor"></path>
                                            <g id="Group_188" data-name="Group 188" transform="translate(15.588 11.19)">
                                                <g id="Group_187" data-name="Group 187">
                                                    <path id="Path_117" data-name="Path 117" d="M190.3,133.213l-13.256-8.964a3,3,0,0,0-4.674,2.482v17.929a2.994,2.994,0,0,0,4.674,2.481l13.256-8.964a3,3,0,0,0,0-4.963Zm-1.033,3.435-13.256,8.964a1.151,1.151,0,0,1-1.8-.953V126.73a1.134,1.134,0,0,1,.611-1.017,1.134,1.134,0,0,1,1.185.063l13.256,8.964a1.151,1.151,0,0,1,0,1.907Z" transform="translate(-172.366 -123.734)" fill="currentColor"></path>
                                                </g>
                                            </g>
                                            <g id="Group_190" data-name="Group 190" transform="translate(28.593 5.401)">
                                                <g id="Group_189" data-name="Group 189">
                                                    <path id="Path_118" data-name="Path 118" d="M328.31,70.492a18.965,18.965,0,0,0-10.886-10.708.922.922,0,1,0-.653,1.725,17.117,17.117,0,0,1,9.825,9.664.922.922,0,1,0,1.714-.682Z" transform="translate(-316.174 -59.724)" fill="currentColor"></path>
                                                </g>
                                            </g>
                                            <g id="Group_192" data-name="Group 192" transform="translate(22.228 4.243)">
                                                <g id="Group_191" data-name="Group 191">
                                                    <path id="Path_119" data-name="Path 119" d="M249.922,47.187a19.08,19.08,0,0,0-3.2-.27.922.922,0,0,0,0,1.845,17.245,17.245,0,0,1,2.889.243.922.922,0,1,0,.31-1.818Z" transform="translate(-245.801 -46.917)" fill="currentColor"></path>
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                    <span class="visually-hidden">Play</span>
                                </a>
                            </div>*@
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about__content">
                        <span class="about__content--subtitle text__secondary mb-20"> Почему мы?</span>
                        <h2 class="about__content--maintitle mb-25">У нас товар лучшего качества и проверенные поставщики.</h2>
                        <p class="about__content--desc mb-20">
                            В наших магазинах представлены только качественные и оригинальные рыболовные товары. Наш самый главный акцент – качество товаров.
                            Наша компания является официальным и единственным дистрибьютером компании SPRO в Республике Беларусь. SPRO предлагает широчайший выбор товаров под своим именем, а также представляет более специализированные линейки товаров Strategy (карповая ловля), Cresta (фидерная, спортивная ловля), Freestyle («городская» рыбалка). Ассортимент включает в себя всё необходимое снаряжение для рыбной ловли, начиная от высокотехнологичных удилищ и катушек, заканчивая приманками, леской, сумками и различными аксессуарами.
                        </p>
                        <p class="about__content--desc mb-25">Сегодня наши клиенты уверены, что качественный товар, при производстве которого использованы новейшие технологии, японское качество и яркий европейский дизайн, позволят им рыбачить не только успешно, но и с великим удовольствием от использования наших снастей. Ведь самое главное при отдыхе на водоёме- это получить как можно больше положительных эмоций, что в совокупности с ценой и качеством товара сделает это возможным в полном объёме.</p>
                        <div class="about__author position__relative">
                            <h4 class="about__author--name">Стас</h4>
                            <span class="about__author--rank">Директор магазина</span>
                            <img class="about__author--signature" src="/assets/img/icon/signature.webp" alt="signature">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End about section -->
    <!-- Start counterup banner section -->
    <div class="counterup__banner--section counterup__banner__bg2" id="funfactId">
        <div class="container">
            <div class="row row-cols-1 align-items-center">
                <div class="col">
                    <div class="counterup__banner--inner position__relative d-flex align-items-center justify-content-between">
                        <div class="counterup__banner--items text-center">
                            <p class="counterup__banner--items__text text-white">
                                СТАЖ <br>
                                РАБОТЫ
                            </p>
                            <span class="counterup__banner--items__number js-counter text-white" data-count="50">0</span>
                        </div>
                        <div class="counterup__banner--items text-center">
                            <p class="counterup__banner--items__text text-white">
                                ЧЛЕНОВ <br>
                                КОМАНДЫ
                            </p>
                            <span class="counterup__banner--items__number js-counter text-white" data-count="100">0</span>
                        </div>
                        <div class="counterup__banner--items text-center">
                            <p class="counterup__banner--items__text text-white">
                                СЧАСТЛТВЫЕ <br>
                                ПОКУПАТЕЛИ
                            </p>
                            <span class="counterup__banner--items__number js-counter text-white" data-count="80">0</span>
                        </div>
                        <div class="counterup__banner--items text-center">
                            <p class="counterup__banner--items__text text-white">
                                ЗАКАЗОВ В <br>
                                МЕСЯЦ
                            </p>
                            <span class="counterup__banner--items__number js-counter text-white" data-count="70">0</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End counterup banner section -->
    <!-- Start team members section -->
    
    <!-- End team members section -->
    <!-- Start testimonial section -->
    <section class="testimonial__section position__relative testimonial__bg--two section--padding">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="testimonial__section--inner">
                        <div class="section__heading text-center mb-40">
                            <h2 class="section__heading--maintitle">Что говорят о нас клиенты?</h2>
                        </div>
                        <div class=" testimonial__swiper--column3 testimonial__padding swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="testimonial__items--style2 position__relative border-radius-5 d-flex align-items-center">
                                        <div class="testimonial__thumbnail--style2">
                                            <img class="testimonial__items--thumbnail__img display-block" src="https://media.istockphoto.com/id/1147289240/ru/%D1%84%D0%BE%D1%82%D0%BE/%D0%BF%D0%BE%D1%80%D1%82%D1%80%D0%B5%D1%82-%D1%83%D0%BB%D1%8B%D0%B1%D0%B0%D1%8E%D1%89%D0%B5%D0%B3%D0%BE%D1%81%D1%8F-%D1%81%D1%82%D1%83%D0%B4%D0%B5%D0%BD%D1%82%D0%B0-%D0%BD%D0%B0-%D0%B3%D0%BE%D1%80%D0%BE%D0%B4%D1%81%D0%BA%D0%BE%D0%B9-%D1%83%D0%BB%D0%B8%D1%86%D0%B5.jpg?s=612x612&w=0&k=20&c=RPSKYKCf5asZPLmlJcTHrN9ubNkV7AtBLWRP7hhw7E4=" alt="testimonial-img">
                                        </div>
                                        <div class="testimonial__content--style2">
                                            <h3 class="testimonial__items--author__title h4">Егор Иванов</h3>
                                            <h4 class="testimonial__items--author__subtitle h5">Рыбак-любитель</h4>
                                            <p class="testimonial__items--desc style2">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="8.101" height="6.481" viewBox="0 0 8.101 6.481">
                                                    <path data-name="Icon metro-quote" d="M5.57,9.667v3.24H8.81V9.667H7.19a1.587,1.587,0,0,1,1.62-1.62V6.427A3.174,3.174,0,0,0,5.57,9.667Zm8.1-1.62V6.427a3.174,3.174,0,0,0-3.24,3.24v3.24h3.24V9.667h-1.62A1.587,1.587,0,0,1,13.671,8.047Z" transform="translate(-5.57 -6.427)" fill="currentColor" />
                                                </svg>
                                                Лучший магазин в котором я когда либо закупался!
                                                Никогда не подводили, все в срок и качественно.
                                                Рекомендую!
                                                <svg xmlns="http://www.w3.org/2000/svg" width="7.774" height="6.803" viewBox="0 0 7.774 6.803">
                                                    <path data-name="Icon awesome-quote-right" d="M7.046,1.5H5.1a.729.729,0,0,0-.729.729V4.172A.729.729,0,0,0,5.1,4.9H6.317v.972a.973.973,0,0,1-.972.972H5.223a.364.364,0,0,0-.364.364v.729a.364.364,0,0,0,.364.364h.121a2.429,2.429,0,0,0,2.43-2.43V2.229A.729.729,0,0,0,7.046,1.5Zm-4.373,0H.729A.729.729,0,0,0,0,2.229V4.172A.729.729,0,0,0,.729,4.9H1.944v.972a.973.973,0,0,1-.972.972H.85a.364.364,0,0,0-.364.364v.729A.364.364,0,0,0,.85,8.3H.972A2.429,2.429,0,0,0,3.4,5.873V2.229A.729.729,0,0,0,2.672,1.5Z" transform="translate(0 -1.5)" fill="currentColor" />
                                                </svg>
                                            </p>
                                           
                                        </div>
                                        <div class="testimonial__quote--icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="25.599" height="22.572" viewBox="0 0 25.599 22.572">
                                                <g data-name="Group 382" transform="translate(-164 -5399)">
                                                    <path data-name="Path 131" d="M10.284,11.81a1.231,1.231,0,0,0,.62-1.652L9.892,8.031a1.235,1.235,0,0,0-1.611-.6A14.227,14.227,0,0,0,3.82,10.324,10.79,10.79,0,0,0,.826,15.052,25.936,25.936,0,0,0,0,22.321v6.34A1.243,1.243,0,0,0,1.239,29.9H9.355a1.243,1.243,0,0,0,1.239-1.239V20.545a1.243,1.243,0,0,0-1.239-1.239H5.472a8.707,8.707,0,0,1,1.446-5.018A7.849,7.849,0,0,1,10.284,11.81Z" transform="translate(164 5391.672)" fill="#f1f1f1" />
                                                    <path data-name="Path 132" d="M80.963,11.89a1.231,1.231,0,0,0,.62-1.652L80.571,8.132a1.235,1.235,0,0,0-1.611-.6,14.959,14.959,0,0,0-4.44,2.87,11.021,11.021,0,0,0-3.015,4.75A25.587,25.587,0,0,0,70.7,22.4v6.34a1.243,1.243,0,0,0,1.239,1.239h8.116a1.243,1.243,0,0,0,1.239-1.239V20.625a1.243,1.243,0,0,0-1.239-1.239h-3.9A8.709,8.709,0,0,1,77.6,14.368,7.848,7.848,0,0,1,80.963,11.89Z" transform="translate(107.9 5391.592)" fill="#f1f1f1" />
                                                </g>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="testimonial__items--style2 position__relative border-radius-5 d-flex align-items-center">
                                        <div class="testimonial__thumbnail--style2">
                                            <img class="testimonial__items--thumbnail__img display-block" src="https://media.istockphoto.com/id/1147289240/ru/%D1%84%D0%BE%D1%82%D0%BE/%D0%BF%D0%BE%D1%80%D1%82%D1%80%D0%B5%D1%82-%D1%83%D0%BB%D1%8B%D0%B1%D0%B0%D1%8E%D1%89%D0%B5%D0%B3%D0%BE%D1%81%D1%8F-%D1%81%D1%82%D1%83%D0%B4%D0%B5%D0%BD%D1%82%D0%B0-%D0%BD%D0%B0-%D0%B3%D0%BE%D1%80%D0%BE%D0%B4%D1%81%D0%BA%D0%BE%D0%B9-%D1%83%D0%BB%D0%B8%D1%86%D0%B5.jpg?s=612x612&w=0&k=20&c=RPSKYKCf5asZPLmlJcTHrN9ubNkV7AtBLWRP7hhw7E4=" alt="testimonial-img">
                                        </div>
                                        <div class="testimonial__content--style2">
                                            <h3 class="testimonial__items--author__title h4">Константин Коляда</h3>
                                            <h4 class="testimonial__items--author__subtitle h5">Мастер спорта по рыбалке</h4>
                                            <p class="testimonial__items--desc style2">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="8.101" height="6.481" viewBox="0 0 8.101 6.481">
                                                    <path data-name="Icon metro-quote" d="M5.57,9.667v3.24H8.81V9.667H7.19a1.587,1.587,0,0,1,1.62-1.62V6.427A3.174,3.174,0,0,0,5.57,9.667Zm8.1-1.62V6.427a3.174,3.174,0,0,0-3.24,3.24v3.24h3.24V9.667h-1.62A1.587,1.587,0,0,1,13.671,8.047Z" transform="translate(-5.57 -6.427)" fill="currentColor" />
                                                </svg>
                                                Много лет посещаю данный магазин, косяков почти никогда не было.
                                                Можно было улучшить систему доставки, например в Сибирь, но это уже мои предпочтения.
                                                Хорошо!
                                                <svg xmlns="http://www.w3.org/2000/svg" width="7.774" height="6.803" viewBox="0 0 7.774 6.803">
                                                    <path data-name="Icon awesome-quote-right" d="M7.046,1.5H5.1a.729.729,0,0,0-.729.729V4.172A.729.729,0,0,0,5.1,4.9H6.317v.972a.973.973,0,0,1-.972.972H5.223a.364.364,0,0,0-.364.364v.729a.364.364,0,0,0,.364.364h.121a2.429,2.429,0,0,0,2.43-2.43V2.229A.729.729,0,0,0,7.046,1.5Zm-4.373,0H.729A.729.729,0,0,0,0,2.229V4.172A.729.729,0,0,0,.729,4.9H1.944v.972a.973.973,0,0,1-.972.972H.85a.364.364,0,0,0-.364.364v.729A.364.364,0,0,0,.85,8.3H.972A2.429,2.429,0,0,0,3.4,5.873V2.229A.729.729,0,0,0,2.672,1.5Z" transform="translate(0 -1.5)" fill="currentColor" />
                                                </svg>
                                            </p>
                                           
                                        </div>
                                        <div class="testimonial__quote--icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="25.599" height="22.572" viewBox="0 0 25.599 22.572">
                                                <g data-name="Group 382" transform="translate(-164 -5399)">
                                                    <path data-name="Path 131" d="M10.284,11.81a1.231,1.231,0,0,0,.62-1.652L9.892,8.031a1.235,1.235,0,0,0-1.611-.6A14.227,14.227,0,0,0,3.82,10.324,10.79,10.79,0,0,0,.826,15.052,25.936,25.936,0,0,0,0,22.321v6.34A1.243,1.243,0,0,0,1.239,29.9H9.355a1.243,1.243,0,0,0,1.239-1.239V20.545a1.243,1.243,0,0,0-1.239-1.239H5.472a8.707,8.707,0,0,1,1.446-5.018A7.849,7.849,0,0,1,10.284,11.81Z" transform="translate(164 5391.672)" fill="#f1f1f1" />
                                                    <path data-name="Path 132" d="M80.963,11.89a1.231,1.231,0,0,0,.62-1.652L80.571,8.132a1.235,1.235,0,0,0-1.611-.6,14.959,14.959,0,0,0-4.44,2.87,11.021,11.021,0,0,0-3.015,4.75A25.587,25.587,0,0,0,70.7,22.4v6.34a1.243,1.243,0,0,0,1.239,1.239h8.116a1.243,1.243,0,0,0,1.239-1.239V20.625a1.243,1.243,0,0,0-1.239-1.239h-3.9A8.709,8.709,0,0,1,77.6,14.368,7.848,7.848,0,0,1,80.963,11.89Z" transform="translate(107.9 5391.592)" fill="#f1f1f1" />
                                                </g>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="testimonial__items--style2 position__relative border-radius-5 d-flex align-items-center">
                                        <div class="testimonial__thumbnail--style2">
                                            <img class="testimonial__items--thumbnail__img display-block" src="https://media.istockphoto.com/id/1147289240/ru/%D1%84%D0%BE%D1%82%D0%BE/%D0%BF%D0%BE%D1%80%D1%82%D1%80%D0%B5%D1%82-%D1%83%D0%BB%D1%8B%D0%B1%D0%B0%D1%8E%D1%89%D0%B5%D0%B3%D0%BE%D1%81%D1%8F-%D1%81%D1%82%D1%83%D0%B4%D0%B5%D0%BD%D1%82%D0%B0-%D0%BD%D0%B0-%D0%B3%D0%BE%D1%80%D0%BE%D0%B4%D1%81%D0%BA%D0%BE%D0%B9-%D1%83%D0%BB%D0%B8%D1%86%D0%B5.jpg?s=612x612&w=0&k=20&c=RPSKYKCf5asZPLmlJcTHrN9ubNkV7AtBLWRP7hhw7E4=" alt="testimonial-img">
                                        </div>
                                        <div class="testimonial__content--style2">
                                            <h3 class="testimonial__items--author__title h4">Владимир Солодкий</h3>
                                            <h4 class="testimonial__items--author__subtitle h5">Рыбак</h4>
                                            <p class="testimonial__items--desc style2">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="8.101" height="6.481" viewBox="0 0 8.101 6.481">
                                                    <path data-name="Icon metro-quote" d="M5.57,9.667v3.24H8.81V9.667H7.19a1.587,1.587,0,0,1,1.62-1.62V6.427A3.174,3.174,0,0,0,5.57,9.667Zm8.1-1.62V6.427a3.174,3.174,0,0,0-3.24,3.24v3.24h3.24V9.667h-1.62A1.587,1.587,0,0,1,13.671,8.047Z" transform="translate(-5.57 -6.427)" fill="currentColor" />
                                                </svg>
                                                Магазин не очень, но закупаться больше негде, так что буду тут.
                                                Можно было и лучше!
                                                <svg xmlns="http://www.w3.org/2000/svg" width="7.774" height="6.803" viewBox="0 0 7.774 6.803">
                                                    <path data-name="Icon awesome-quote-right" d="M7.046,1.5H5.1a.729.729,0,0,0-.729.729V4.172A.729.729,0,0,0,5.1,4.9H6.317v.972a.973.973,0,0,1-.972.972H5.223a.364.364,0,0,0-.364.364v.729a.364.364,0,0,0,.364.364h.121a2.429,2.429,0,0,0,2.43-2.43V2.229A.729.729,0,0,0,7.046,1.5Zm-4.373,0H.729A.729.729,0,0,0,0,2.229V4.172A.729.729,0,0,0,.729,4.9H1.944v.972a.973.973,0,0,1-.972.972H.85a.364.364,0,0,0-.364.364v.729A.364.364,0,0,0,.85,8.3H.972A2.429,2.429,0,0,0,3.4,5.873V2.229A.729.729,0,0,0,2.672,1.5Z" transform="translate(0 -1.5)" fill="currentColor" />
                                                </svg>
                                            </p>
                                            
                                        </div>
                                        <div class="testimonial__quote--icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="25.599" height="22.572" viewBox="0 0 25.599 22.572">
                                                <g data-name="Group 382" transform="translate(-164 -5399)">
                                                    <path data-name="Path 131" d="M10.284,11.81a1.231,1.231,0,0,0,.62-1.652L9.892,8.031a1.235,1.235,0,0,0-1.611-.6A14.227,14.227,0,0,0,3.82,10.324,10.79,10.79,0,0,0,.826,15.052,25.936,25.936,0,0,0,0,22.321v6.34A1.243,1.243,0,0,0,1.239,29.9H9.355a1.243,1.243,0,0,0,1.239-1.239V20.545a1.243,1.243,0,0,0-1.239-1.239H5.472a8.707,8.707,0,0,1,1.446-5.018A7.849,7.849,0,0,1,10.284,11.81Z" transform="translate(164 5391.672)" fill="#f1f1f1" />
                                                    <path data-name="Path 132" d="M80.963,11.89a1.231,1.231,0,0,0,.62-1.652L80.571,8.132a1.235,1.235,0,0,0-1.611-.6,14.959,14.959,0,0,0-4.44,2.87,11.021,11.021,0,0,0-3.015,4.75A25.587,25.587,0,0,0,70.7,22.4v6.34a1.243,1.243,0,0,0,1.239,1.239h8.116a1.243,1.243,0,0,0,1.239-1.239V20.625a1.243,1.243,0,0,0-1.239-1.239h-3.9A8.709,8.709,0,0,1,77.6,14.368,7.848,7.848,0,0,1,80.963,11.89Z" transform="translate(107.9 5391.592)" fill="#f1f1f1" />
                                                </g>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="testimonial__items--style2 position__relative border-radius-5 d-flex align-items-center">
                                        <div class="testimonial__thumbnail--style2">
                                            <img class="testimonial__items--thumbnail__img display-block" src="https://media.istockphoto.com/id/1147289240/ru/%D1%84%D0%BE%D1%82%D0%BE/%D0%BF%D0%BE%D1%80%D1%82%D1%80%D0%B5%D1%82-%D1%83%D0%BB%D1%8B%D0%B1%D0%B0%D1%8E%D1%89%D0%B5%D0%B3%D0%BE%D1%81%D1%8F-%D1%81%D1%82%D1%83%D0%B4%D0%B5%D0%BD%D1%82%D0%B0-%D0%BD%D0%B0-%D0%B3%D0%BE%D1%80%D0%BE%D0%B4%D1%81%D0%BA%D0%BE%D0%B9-%D1%83%D0%BB%D0%B8%D1%86%D0%B5.jpg?s=612x612&w=0&k=20&c=RPSKYKCf5asZPLmlJcTHrN9ubNkV7AtBLWRP7hhw7E4=" alt="testimonial-img">
                                        </div>
                                        <div class="testimonial__content--style2">
                                            <h3 class="testimonial__items--author__title h4">Владимир Солодкий</h3>
                                            <h4 class="testimonial__items--author__subtitle h5">Рыбак</h4>
                                            <p class="testimonial__items--desc style2">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="8.101" height="6.481" viewBox="0 0 8.101 6.481">
                                                    <path data-name="Icon metro-quote" d="M5.57,9.667v3.24H8.81V9.667H7.19a1.587,1.587,0,0,1,1.62-1.62V6.427A3.174,3.174,0,0,0,5.57,9.667Zm8.1-1.62V6.427a3.174,3.174,0,0,0-3.24,3.24v3.24h3.24V9.667h-1.62A1.587,1.587,0,0,1,13.671,8.047Z" transform="translate(-5.57 -6.427)" fill="currentColor" />
                                                </svg>
                                                Магазин не очень, но закупаться больше негде, так что буду тут.
                                                Можно было и лучше!
                                                <svg xmlns="http://www.w3.org/2000/svg" width="7.774" height="6.803" viewBox="0 0 7.774 6.803">
                                                    <path data-name="Icon awesome-quote-right" d="M7.046,1.5H5.1a.729.729,0,0,0-.729.729V4.172A.729.729,0,0,0,5.1,4.9H6.317v.972a.973.973,0,0,1-.972.972H5.223a.364.364,0,0,0-.364.364v.729a.364.364,0,0,0,.364.364h.121a2.429,2.429,0,0,0,2.43-2.43V2.229A.729.729,0,0,0,7.046,1.5Zm-4.373,0H.729A.729.729,0,0,0,0,2.229V4.172A.729.729,0,0,0,.729,4.9H1.944v.972a.973.973,0,0,1-.972.972H.85a.364.364,0,0,0-.364.364v.729A.364.364,0,0,0,.85,8.3H.972A2.429,2.429,0,0,0,3.4,5.873V2.229A.729.729,0,0,0,2.672,1.5Z" transform="translate(0 -1.5)" fill="currentColor" />
                                                </svg>
                                            </p>

                                        </div>
                                        <div class="testimonial__quote--icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="25.599" height="22.572" viewBox="0 0 25.599 22.572">
                                                <g data-name="Group 382" transform="translate(-164 -5399)">
                                                    <path data-name="Path 131" d="M10.284,11.81a1.231,1.231,0,0,0,.62-1.652L9.892,8.031a1.235,1.235,0,0,0-1.611-.6A14.227,14.227,0,0,0,3.82,10.324,10.79,10.79,0,0,0,.826,15.052,25.936,25.936,0,0,0,0,22.321v6.34A1.243,1.243,0,0,0,1.239,29.9H9.355a1.243,1.243,0,0,0,1.239-1.239V20.545a1.243,1.243,0,0,0-1.239-1.239H5.472a8.707,8.707,0,0,1,1.446-5.018A7.849,7.849,0,0,1,10.284,11.81Z" transform="translate(164 5391.672)" fill="#f1f1f1" />
                                                    <path data-name="Path 132" d="M80.963,11.89a1.231,1.231,0,0,0,.62-1.652L80.571,8.132a1.235,1.235,0,0,0-1.611-.6,14.959,14.959,0,0,0-4.44,2.87,11.021,11.021,0,0,0-3.015,4.75A25.587,25.587,0,0,0,70.7,22.4v6.34a1.243,1.243,0,0,0,1.239,1.239h8.116a1.243,1.243,0,0,0,1.239-1.239V20.625a1.243,1.243,0,0,0-1.239-1.239h-3.9A8.709,8.709,0,0,1,77.6,14.368,7.848,7.848,0,0,1,80.963,11.89Z" transform="translate(107.9 5391.592)" fill="#f1f1f1" />
                                                </g>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="testimonial__pagination swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img class="testimonial__bg--shape1" src="assets/img/other/testimonial-shape.webp" alt="">
        <img class="testimonial__bg--shape2" src="assets/img/other/testimonial-shape2.webp" alt="">
    </section>
    <!-- End testimonial section -->
    <!-- Start Newsletter banner section -->
    <section class="newsletter__banner--section section--padding">
        <div class="container">
            <div class="newsletter__banner--thumbnail position__relative">
                <img class="newsletter__banner--thumbnail__img" src="assets/img/banner/banner-bg7.webp" alt="newsletter-banner">
                <div class="newsletter__content newsletter__subscribe">
                    <h5 class="newsletter__content--subtitle text-white">Want to offer regularly ?</h5>
                    <h2 class="newsletter__content--title text-white h3 mb-25">
                        Подпишись на нашу рассылку<br>
                        чтобы быть в курсе новостей!
                    </h2>
                    <form class="newsletter__subscribe--form position__relative" action="#">
                        <label>
                            <input class="newsletter__subscribe--input" placeholder="Введите свой email" type="email">
                        </label>
                        <button class="newsletter__subscribe--button primary__btn" type="submit">
                            Подписаться
                            <svg class="newsletter__subscribe--button__icon" xmlns="http://www.w3.org/2000/svg" width="9.159" height="7.85" viewBox="0 0 9.159 7.85">
                                <path data-name="Icon material-send" d="M3,12.35l9.154-3.925L3,4.5,3,7.553l6.542.872L3,9.3Z" transform="translate(-3 -4.5)" fill="currentColor" />
                            </svg>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- End Newsletter banner section -->
    <!-- Start brand logo section -->
    <div class="brand__logo--section bg__secondary section--padding">
        <div class="container-fluid">
            <div class="row row-cols-1">
                <div class="col">
                    <div class="brand__logo--section__inner d-flex justify-content-center align-items-center">
                        <div class="brand__logo--items">
                            <img class="brand__logo--items__thumbnail--img" src="/assets/img/logo/brand-logo1.webp" alt="brand logo">
                        </div>
                        <div class="brand__logo--items">
                            <img class="brand__logo--items__thumbnail--img" src="/assets/img/logo/brand-logo2.webp" alt="brand logo">
                        </div>
                        <div class="brand__logo--items">
                            <img class="brand__logo--items__thumbnail--img" src="/assets/img/logo/brand-logo3.webp" alt="brand logo">
                        </div>
                        <div class="brand__logo--items">
                            <img class="brand__logo--items__thumbnail--img" src="/assets/img/logo/brand-logo4.webp" alt="brand logo">
                        </div>
                        <div class="brand__logo--items">
                            <img class="brand__logo--items__thumbnail--img" src="/assets/img/logo/brand-logo5.webp" alt="brand logo">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End brand logo section -->
</main>